html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

a, a:visited {
	color: green;
}

hr {
	padding: 1px;
	background-color: #f00;
}

.content {
	margin: 0 auto;
	width: 80%;
	max-width: 1000px;
	min-width: 500px;
}

h1 {
	margin: 0;
	background-color: #ffb366;
	text-align: center;
	line-height: 3em;
	border: 1px solid black;
}

nav {
	margin-top: 7px;
	background-color: #ffb366;
	border: 1px solid black;
}

nav ul {
	text-align: center;
}

nav ul li {
	display: inline-block;
	margin: 0 20px;
}





section {
	margin-top: 15px;
	display: flex;
}

section article {
	padding: 20px 10px;
	display: inline-block;
	width: 100%;
	border: 1px solid black;
	vertical-align: top;
	box-sizing: border-box;
}

section article h2 {
	text-align: center;
}

section article p {
	padding: 0 10px;
	text-align: justify;
}

section aside {
	display: inline-block;
	width: 40%;
	border: 1px solid black;
	vertical-align: middle;
	box-sizing: border-box;
}

section aside {
	text-align: center;
	align-items: center;
}

/*
section form {
	border-bottom: 1px solid black;
}
*/

section input {
	display: block;
	margin: 0 auto;

	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

section aside input[type=submit]:hover {
  background-color: #ffb366;
}

footer {
	margin-top: 15px;
	background-color: #ffb366;
	border: 1px solid black;
}
